<h1>Continent Show Page</h1>
<a href="/continents">Back to Continents Index</a>

<div class="card">
  <h2><%= continent.name %> has a population of <%= continent.size %></h2>
  <form method="POST" action="/continents/<%= continent.id %>/?_method=DELETE">
    <input type="submit" value="Delete" />
  </form>

  <form method="POST" action="/continents/<%= continent.id %>/?_method=PUT">
    <label>Name</label>
    <input type="text" name="name" value="<%= continent.name %>" />

    <label>Size</label>
    <input type="text" name="size" value="<%= continent.size %>" />
    <input type="submit" value="Update" />
  </form>
</div>
