<h1>Country Show Page</h1>
<a href="/countries">Back to countries index</a>
<div class="card">
    <h2><%= country.name %> was founded in <%= country.size %> and has a population of <%= country.population %>.</h2>
    <form method="POST" action="/countries/<%= country.id %>/?_method=DELETE">
        <input type="submit" value="Delete">
    </form>
    <form method="POST" action="/countries/<%=country.id %>/?_method=PUT">
        <label>Name</label>
        <input type="text" name="name" value="<%= country.name %>">
        
        <label>Founded</label>
        <input type="number" name="founded" value="<%= country.founded %>">
        <input type="submit" value="Update">

        <label>Population</label>
        <input type="number" name="population" value="<%= country.population %>">
        <input type="submit" value="Update">
    </form>
</div>